# Executables
*.exe

# Object files and libraries
*.o
*.obj
*.lib

# Build directories
build/
bin/

# Logs
*.log

# Visual Studio / VSCode
.vs/
.vscode/

# Temporary files
*.tmp
~*

# Other
*.user
*.suo